* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
}
body {
	background-color: #00f5d4;
	color: #32295e;
}

p {
	font-size: larger;
}

.navbar {
	background: #845ec2 !important;
}

.navbar-light .navbar-brand {
	color: #f9f871 !important;
}

.middle {
	display: flex;
}

.middle a {
	margin-right: 10px;
}

.login-warning {
	color: #fa003f;
	text-align: center;
	font-size: small;
}

/* Login CSS */
.login-container {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
	background-color: #fff;
	border-radius: 5px;
	width: 30em;
}

.items {
	text-align: center;
}

.items input[type="text"],
.items input[type="password"] {
	margin-bottom: 20px;
	padding: 2px 0px;
	padding-bottom: 5px;
	width: 300px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1.5px solid;
	border-bottom-color: grey;
	font-weight: 700;
	color: #585858;
}

.title {
	margin-bottom: 20px;
	letter-spacing: 5px;
	text-align: center;
}

.my-button {
	padding: 12px 30px;
	margin: 10px;
	border: none;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background: #ff7675;
	color: #082063;
}

.btn-primary {
	padding: 8px 30px !important;
	background-color: #ff7675 !important;
	border-color: transparent;
}

.btn-primary:hover {
	background-color: #f74e4e !important;
	border-color: transparent;
}

#sign {
	text-align: right;
	cursor: pointer;
	color: #082063;
	font-weight: bolder;
	text-decoration: none;
}

#sign:active {
	transform: translateY(2px);
}

::placeholder {
	color: grey;
	text-align: left;
	letter-spacing: 2px;
}

form label {
	text-align: left;
}

form label,
form input {
	display: block;
}

.card-group > .card {
	margin: 5px;
}
