<!DOCTYPE html>
<html>
    <body>
        <a href="/providerhome">Back</a><br>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="numberplate" value="{{.NumberPlate}}">Number Plate<br>
            <select name="wheels" value="{{.Wheels}}">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
            </select>Wheeler <br>
            <input type="text" name="name" value="{{.Name}}">Vehicle name<br>
            <input type="text" name="location" value="{{.Location}}">Address<br>
            You can add upto 5 images of the vehicle:
            <input type="file" name="img1"><br>
            <input type="file" name="img2"><br>
            <input type="file" name="img3"><br>
            <input type="file" name="img4"><br>
            <input type="file" name="img5"><br>
            <input type="submit" value="submit">
        </form>
        {{.Info}}
    </body>
</html>