<!DOCTYPE html>
<html>
    <body>
        <a href="/riderlogin">Back</a><br>
        <form method="POST">
            <input type="text" name="username" value="{{.FormData.Username}}">Username<br>
            <input type="password" name="password" value="{{.StringPwd}}">Password<br>
            <input type="text" name="name" value="{{.FormData.Name}}">Name<br>
            <input type="text" name="address" value="{{.FormData.Address}}">Address<br>
            <input type="text" name="dl" value="{{.FormData.Dl}}">Driver's License (Format: DL1420110012345)<br>
            <input type="text" name="phone" value="{{.FormData.Phone}}">Phone<br>
            <input type="submit" value="submit">
        </form>
        {{.Info}}
    </body>
</html>
