<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rider Login | Rent a Ride</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
</head>
    <body>
        <div class="container">
            <h1 class="text-center">Rent A Ride</h1>
            <a href="/" id="button">&lt;Back</a>
            <div class="login-container mt-5">
                <h2 id="title">Log in</h2>            
                <div class="items">
                    <p class="login-warning">{{.}}</p>
                    <form method="POST">
                        <input type="text" id="form-text" placeholder="Username" name="username" />
                        <input type="password" id="form-password" placeholder="Password" name="password" />
                        <input type="submit" id="button" value="Log in"><br>
                        <span>New to our platform? &nbsp;</span><a id="sign" type="submit" href="/ridersignup"> Sign Up</a>
                    </form>
                </div>                
            </div>
        </div>

    </body>
</html>