<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a Ride | Home</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
   <p>Hello Rider, {{.Name}}</p><br>
    <a href="/findavehicle">Find a vehicle</a><br>
    <a href="/riderbookings">Bookings</a><br>
    <a href="/riderredeem">Redeem</a><br>
    <a href="/riderlogout">Logout</a><br>
</body>
</html>