<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Info | Rent a Ride</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light p-2 mb-2">
        <a class="navbar-brand" href="/">Rent A Ride</a>
    </nav>
    <a class="btn btn-primary m-2" href="/providerhome">&lt;Back</a>

    <div class="container m-2 p-4">
        <div class="vehicle-info">
            <p><strong>{{.Reqd.Name}}</strong> </p>
                <p>{{.Reqd.NumberPlate}}</p>
                <p>{{.Reqd.Wheels}} Wheeler</p>
                <p>{{.Reqd.Location}}</p>
            </div>        
        <div class="row">
            {{range .Imgs}}
                <img class="col-sm-3" src="data:image/jpg;base64,{{.}}"/>
            {{end}}
        </div>
        <div class="col ">
            <a class="btn btn-primary m-2" href="/rentout?numberplate={{.Reqd.NumberPlate}}">Rent Out</a>
            <button class="btn btn-danger m-2" onclick="deleteVehicle(`{{.Reqd}}`)">Delete Vehicle</button>
        </div>
    </div>
    
    <script src="/assets/deleteVehicle.js"></script>
</body>
</html>